<center>
	<span>ERROR 404, INTERNAL SEVERAL ERROR</span>
	</br>

	<span>Sorry, something went wrong</span></br>

	<span>A highly trained team of monkeys were sent to deal with the problem</span></br>

	<span>If you see them, show them this information.</span></br>

	<img src="./images/monkey.jpg">

	</br>

	<span>Try better luck with these options</span>
		
	<br>

	<ul>              
	    <li><a href="#!/">Home</a></li>
	    <li><a href="#!/visualizer">Automan kit</a></li>
	    
	</ul>
</center>